In [1]:
import os
import pandas as pd

In [ ]:
df_pg_rank_results = pd.read_csv('../Data/Page Rank Results/page_rank_output.csv', names=["Page URL ID", "Page Rank"])

In [23]:
df_pg_rank_results.head()

   Page URL ID  Page Rank
0      1065022   0.000021
1           44   0.000020
2        78389   0.000019
3        78400   0.000019
4        78391   0.000019

In [26]:
df_pg_rank_results.sort_values(by="Page Rank", ascending=False).reset_index(drop=True)

         Page URL ID     Page Rank
0            1065022  2.107130e-05
1                 44  1.988400e-05
2              78389  1.930580e-05
3              78400  1.912880e-05
4              78391  1.900280e-05
...              ...           ...
3582472        10305  2.752640e-07
3582473        20520  2.752640e-07
3582474         8902  2.752640e-07
3582475         8899  2.752640e-07
3582476        10354  2.752640e-07

[3582477 rows x 2 columns]

In [29]:
num_pages = len(df_pg_rank_results) - 1
df_pg_rank_results['Score'] = 0
for i in range(10):
    start_idx = int(i * 0.1 * num_pages)
    end_idx = int((i + 1) * 0.1 * num_pages)
    df_pg_rank_results.loc[start_idx:end_idx, 'Score'] = 10 - i

In [31]:
df_pg_rank_results.tail()

         Page URL ID     Page Rank  Score
3581657         2372  2.752640e-07      1
3581656         2316  2.752640e-07      1
3581655         2365  2.752640e-07      1
3581654         2357  2.752640e-07      1
3582476        10354  2.752640e-07      1

In [ ]:
import json

id_to_url = {}
with open('..\\Encodings\\Domain & URL encodings for page rank\\Page_rank_files\\id_to_url.json', 'r') as f:
    id_to_url = json.load(f)

<>:4: SyntaxWarning: invalid escape sequence '\P'
<>:4: SyntaxWarning: invalid escape sequence '\P'
C:\Users\huzai\AppData\Local\Temp\ipykernel_20404\3064298395.py:4: SyntaxWarning: invalid escape sequence '\P'
  with open(os.path.join(os.getcwd(), 'Encodings', 'Domain & URL encodings for page rank\Page_rank_files\id_to_url.json' ), 'r') as f:

In [36]:
df_pg_rank_results["Page URL ID"] = df_pg_rank_results["Page URL ID"].astype(str)
df_pg_rank_results["URL"] = df_pg_rank_results["Page URL ID"].map(id_to_url)
df_pg_rank_results.head()

,Page URL ID,Page Rank,Score,URL
0,1065022,0.000021,10,https://foundation.wikimedia.org/wiki/Special:...
1,44,0.000020,10,https://www.bbc.com/sport
2,78389,0.000019,10,https://www.metmuseum.org/
3,78400,0.000019,10,https://www.metmuseum.org/departments
4,78391,0.000019,10,https://engage.metmuseum.org/members/membershi...

In [ ]:
df_pg_rank_results[["URL", "Page Rank", "Score"]].to_csv('..\\Page Rank Results\\page_rank_results_with_urls.csv', index=False)

In [ ]:
df_domain_scores = pd.read_csv( '..\\Page Rank Results\\domain_rank_output.csv', names=["Domain", "Domain Score"])

In [53]:
df_domain_scores.head()

   Domain  Domain Score
0    2824      0.001383
1    2833      0.001222
2     229      0.000928
3    2832      0.000905
4    2809      0.000904

In [54]:
df_domain_scores.sort_values(by="Domain Score", ascending=False).reset_index(drop=True)

        Domain  Domain Score
0         2824      0.001383
1         2833      0.001222
2          229      0.000928
3         2832      0.000905
4         2809      0.000904
...        ...           ...
102349    1488      0.000009
102350    1545      0.000009
102351    1587      0.000009
102352    1592      0.000009
102353    1005      0.000009

[102354 rows x 2 columns]

In [55]:
num_pages = len(df_domain_scores) - 1
df_domain_scores['Score'] = 0
for i in range(10):
    start_idx = int(i * 0.1 * num_pages)
    end_idx = int((i + 1) * 0.1 * num_pages)
    df_domain_scores.loc[start_idx:end_idx, 'Score'] = 10 - i
df_domain_scores.tail()

        Domain  Domain Score  Score
102349    1035      0.000009      1
102350    1031      0.000009      1
102351    1027      0.000009      1
102352    1019      0.000009      1
102353    1005      0.000009      1

In [ ]:
id_to_domain = {}
with open('..\\Encodings\\Domain & URL encodings for page rank\\Page_rank_files\\id_to_domain.json', 'r') as f:
    id_to_domain = json.load(f)

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\huzai\AppData\Local\Temp\ipykernel_20404\2844513493.py:2: SyntaxWarning: invalid escape sequence '\P'
  with open(os.path.join(os.getcwd(), 'Encodings', 'Domain & URL encodings for page rank\Page_rank_files\id_to_domain.json' ), 'r') as f:

In [57]:
df_domain_scores["Domain ID"] = df_domain_scores["Domain"].astype(str)
df_domain_scores["Domain"] = df_domain_scores["Domain ID"].map(id_to_domain)

In [58]:
df_domain_scores.head(50)

                      Domain  Domain Score  Score Domain ID
0           www.facebook.com      0.001383     10      2824
1                twitter.com      0.001222     10      2833
2            www.youtube.com      0.000928     10       229
3          www.instagram.com      0.000905     10      2832
4           www.linkedin.com      0.000904     10      2809
5                 github.com      0.000652     10       275
6                      x.com      0.000376     10      2825
7             www.tiktok.com      0.000375     10      1494
8             www.google.com      0.000287     10      2430
9       commission.europa.eu      0.000284     10      2182
10           docs.github.com      0.000226     10       578
11        support.tiktok.com      0.000219     10      1536
12             www.apple.com      0.000218     10       249
13       books.google.com.pk      0.000207     10     36954
14              ec.europa.eu      0.000199     10      2033
15             hamariweb.com      0.000188     10      2173
16  european-union.europa.eu      0.000188     10      2172
17       policies.google.com      0.000185     10      2853
18                  bsky.app      0.000179     10      2844
19                   lnkd.in      0.000173     10     13241
20             instagram.com      0.000161     10      2841
21           play.google.com      0.000146     10       188
22        support.google.com      0.000145     10       204
23       creativecommons.org      0.000143     10       303
24         www.pinterest.com      0.000137     10      2256
25          en.wikipedia.org      0.000124     10      2419
26              substack.com      0.000121     10      7632
27              blog.youtube      0.000116     10      1294
28             wordpress.org      0.000109     10       296
29     developers.google.com      0.000107     10       201
30            apps.apple.com      0.000106     10       167
31              facebook.com      0.000102     10      4001
32        studio.youtube.com      0.000102     10      7951
33         support.apple.com      0.000095     10       697
34        about.linkedin.com      0.000095     10      8959
35             wordpress.com      0.000090     10      6675
36            tv.youtube.com      0.000090     10      3104
37              bandcamp.com      0.000088     10       263
38        brand.linkedin.com      0.000087     10    101958
39            www.amazon.com      0.000085     10        29
40              www.nasa.gov      0.000084     10      1821
41                 europa.eu      0.000079     10      2181
42    store.steampowered.com      0.000079     10      1388
43             pinterest.com      0.000071     10      3914
44          science.nasa.gov      0.000071     10      1679
45              indieweb.org      0.000071     10       230
46           www.shopify.com      0.000069     10       212
47               archive.org      0.000069     10       369
48         www.discourse.org      0.000069     10     10529
49                www.w3.org      0.000069     10       467

In [ ]:
df_domain_scores[["Domain", "Domain Score", "Score"]].to_csv('..\\Page Rank Results\\domain_rank_results_with_domain_nm.csv', index=False)

In [2]:
import pandas as pd
import os

In [ ]:
df = pd.read_csv('../Page Rank Results/page_rank_results_with_urls.csv')

In [4]:
df.head(20)

                                                  URL  Page Rank  Score
0   https://foundation.wikimedia.org/wiki/Special:...   0.000021     10
1                           https://www.bbc.com/sport   0.000020     10
2                          https://www.metmuseum.org/   0.000019     10
3               https://www.metmuseum.org/departments   0.000019     10
4   https://engage.metmuseum.org/members/membershi...   0.000019     10
5             https://en.wikipedia.org/wiki/Main_Page   0.000018     10
6       https://en.wikipedia.org/wiki/Wikipedia:About   0.000018     10
7   https://donate.wikimedia.org/?wmf_source=donat...   0.000018     10
8   https://en.wikipedia.org/wiki/Wikipedia:Contac...   0.000018     10
9     https://en.wikipedia.org/wiki/ISBN_(identifier)   0.000017     10
10                           https://www.bbc.com/news   0.000016     10
11                        https://www.bbc.com/culture   0.000016     10
12                         https://www.bbc.com/travel   0.000016     10
13                               https://www.bbc.com/   0.000015     10
14                    https://www.metmuseum.org/tours   0.000013     10
15  https://engage.metmuseum.org/admission/?promoc...   0.000013     10
16  https://www.metmuseum.org/visit-guides/accessi...   0.000013     10
17                          https://www.bbc.com/video   0.000012     10
18                       https://www.bbc.com/business   0.000012     10
19                  https://www.bbc.com/future-planet   0.000012     10

In [ ]:
domain_df = pd.read_csv('../Page Rank Results/domain_rank_results_with_domain_nm.csv')
domain_df.head(200)

                                      Domain  Domain Score  Score
0                           www.facebook.com      0.001383     10
1                                twitter.com      0.001222     10
2                            www.youtube.com      0.000928     10
3                          www.instagram.com      0.000905     10
4                           www.linkedin.com      0.000904     10
..                                       ...           ...    ...
195                    commons.wikimedia.org      0.000027     10
196                      about.flipboard.com      0.000027     10
197                       www.trustpilot.com      0.000027     10
198  www.internationalcompetitionnetwork.org      0.000027     10
199                        docs.codeberg.org      0.000027     10

[200 rows x 3 columns]

In [7]:
domain_df.tail(20)

                             Domain  Domain Score  Score
102334  job-boards.eu.greenhouse.io      0.000009      1
102335     vue-test-utils.vuejs.org      0.000009      1
102336                 vexxhost.com      0.000009      1
102337    journeys.autopilotapp.com      0.000009      1
102338               git.cweiske.de      0.000009      1
102339           www.tornadoweb.org      0.000009      1
102340                     irace.me      0.000009      1
102341           firstsiteguide.com      0.000009      1
102342                  fireside.fm      0.000009      1
102343                  soundraw.io      0.000009      1
102344               www.sender.net      0.000009      1
102345                packagist.com      0.000009      1
102346                   wistia.com      0.000009      1
102347           docs.typus.finance      0.000009      1
102348            www.legalzoom.com      0.000009      1
102349       www.smallbizgenius.net      0.000009      1
102350         www.bloggingtips.com      0.000009      1
102351             www.ironhack.com      0.000009      1
102352                 downbeat.com      0.000009      1
102353           thenounproject.com      0.000009      1